/* Navigation */
#logo {
  width: 150px;
}

/* Home */
#home {
  /* height: calc(100vh - 123.52px); */
}

/* About */
#about-drew-img {
  /* TODO: Circle thumbnails */
}

/* Footer */
.footer-links ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-links li a {
  width: 100%;
}

.footer-contact ul li {
  list-style-type: none;
}
