/* Navigation */
#logo {
  width: 150px;
}

/* Home */
.home {
  width: 100%;
  background-image: url("../images/S02_169.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* Specs */

/* Options */

/* Gallery */
#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#gallery img {
  width: 100%;
}